/* default */
* {
  font-family: "Gowun Dodum", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
  color: #000;
  margin: 10px;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: #000;
  height: auto;
}

/* 검색창 */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfdada;
}

.input-box {
  padding: 2px;
  margin: 10px;
}
.btn {
  border: solid 2px #000;
  margin: 10px;
  padding: 2px 5px;
  color: #000;
}

.btn:hover {
  background-color: aliceblue;
  transition: 0.3s;
}

/* 검색 필터링 */
.hide {
  display: none;
}

/* movie card */
.card-list {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
  padding: 20px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  width: 440px;
  position: relative;
  overflow: hidden;
}

.poster {
  border-radius: 10px;
}

.movie-info {
  text-align: center;
}

.movie-title {
  margin-top: 0px;
  text-decoration: underline;
}

.rate {
  background-color: #dfdada;
  padding: 0.25rem 0.5rem;
  font-size: 1.2rem;
  color: #000;
  font-weight: 700;
  border-radius: 3px;
}

/* 그리드 반응형 구현 */
@media (min-width: 1000px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1400px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1860px) {
  .card-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* 카드 내용 설명 부분 애니매이션 구현 */
.overview {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #575656;
  color: #fff;
  padding: 1rem;
  min-height: 200px;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.card:hover .overview {
  transform: translateY(0);
}
